<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @apicrud.sku %>
</p>

<p>
  <strong>Name:</strong>
  <%= @apicrud.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @apicrud.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @apicrud.amount %>
</p>

<p>
  <strong>Price:</strong>
  <%= @apicrud.price %>
</p>

<%= link_to 'Edit', edit_apicrud_path(@apicrud) %> |
<%= link_to 'Back', apicruds_path %>
